/* police de titre */
@import url(fonts/GrenzeGotisch-VariableFont_wght.ttf);
/* police de corps */
@import url(fonts/Arima-VariableFont_wght.ttf);

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    min-width: 380px;
}

main {
    max-width: 1500px;
    margin: 0 auto 70px auto;
    padding: 0 20px;
}

h1, h2 {
    font-family: 'Grenze Gotisch', cursive;
}

p {
    font-family: 'Arima', cursive;
}

hr {
    width: 50%;
    margin: 30px auto;
    border: 1px solid black;
    background-color: black;
}

header .menu-principal {
    background-color: #18475c;
}

header .menu-principal ul li {
    padding: 20px 0;
}

header .menu-principal ul li a {
    text-decoration: none;
    color: aliceblue;
    font-family: 'Grenze Gotisch', cursive;
    font-size: 1.5em;
}


@media all and (min-width: 800px) {

    header .menu-principal ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        list-style-type: none;
    }

    i {
        display: none;
    }
}


/* le menu burger pour la version responsive */

@media all and (max-width: 800px) {

    main {
        margin-top: 100px;
    }

    header .menu-principal {
        min-width: 380px;
        height: 70px;
        position: absolute;
        width: 100%;
        left: 0;
        top: 0;
        z-index: 1;
    }

    header .menu-principal ul {
        min-height: 100vh;
        padding-left: 20px;
        transition: 0.3s ease-in;
        list-style-type: none;
        background-color: #18475c;

    }

    /* test */

    i {
        transform: translate(-50%, -50%);
        position: absolute;
        right: 2%;
        top: 50%;
        color: aliceblue;
        cursor: pointer;
    }

    i.open::after {
        font-size: 3em;
        font-style: normal;
        content: "\2630";
    }

    i.close::after {
        content: "\0078";
        font-size: 3em;
        font-style: normal;
        margin-right: 10px;
    }

    i.close {
        transition: 0.3s ease-out;
        display: none;
    }

    i.open.active {
        display: none;
    }

    i.open.active+i.close {
        display: block;
        z-index: 2;
    }

    i.open.active>.menu-principal {
        min-height: 100%;
    }

    i.open~.openClose {
        transform: translate(-100%);
    }

    i.open.active~.openClose {
        transform: translate(0);
        right: 100%;
        left: 0%;
    }

    i.open.active>i.close {
        display: block;
    }
}

/* fin du menu burger pour la version responsive */