/* police de titre */
@import url(fonts/GrenzeGotisch-VariableFont_wght.ttf);
/* police de corps */
@import url(fonts/Arima-VariableFont_wght.ttf);

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    transition: 0.5s ease-in-out;
    overflow-x: hidden;
    min-width: 320px;
}

.place-colors {
    position: relative;
}

.place-colors .colors {
    border-radius: 25px;
    padding: 10px;
    margin: 10px 0;
    font-size: 1em;
    position: absolute;
    top: 2%;
}

body.dark {
    transition: 0.5s ease-in-out;
    background-color: #000000cf;
    color: aliceblue;
    /* #18475c87 pour le js */
}

.darkmode {
    background-color: #F1F1F1;
    color: #000000cf;
}

.lightmode {
    background-color: #000000cf;
    color: aliceblue;
}

body.dark .menu-principal{
    transition: 0.5s ease-in-out;
    background-color:#18475c87;
    color: aliceblue;
    /*  pour le js */
}

body, html {
    height: 100%;
}

main {
    margin: 0 auto 70px auto;
}

h1, h2 {
    font-family: 'Grenze Gotisch', cursive;
}

p {
    font-family: 'Arima', cursive;
}

hr {
    width: 50%;
    margin: 30px auto;
    border: 1px solid black;
    background-color: black;
}

/* NAVABAR */

header .menu-principal {
    background-color: #18475c;
    width: 100%;
}

header .menu-principal .menu {
    list-style-type: none;
}

header .menu-principal .menu li {
    padding: 20px 0;
}

header .menu-principal .menu li a {
    text-decoration: none;
    color: aliceblue;
    font-family: 'Grenze Gotisch', cursive;
}

header .menu-principal i {
    transform: translate(-50%, -50%);
    position: absolute;
    color: aliceblue;
    cursor: pointer;
}

header i.open::after {
    content: "\2630";
    font-size: 3em;
    font-style: normal;
}

header i.close::after {
    content: "\0078";
    font-size: 3em;
    font-style: normal;
    margin-right: 10px;
} 

header i.close {
    display: none;
}

header i.open.none {
    display: none;
}

header i.close.block {
    display: block;
}

header .menu-principal .pages-menu {
    font-size: 1em;
}

/* FIN NAVBAR */