@media screen and (max-width: 375px) {

    h1.titre-page {
        font-size: 1.7em;
    }

    p, td, input {
        font-size: 16px;
    }
}


@media screen and (min-width: 375px) and (max-width: 425px) {

    h1.titre-page {
        font-size: 1.7em;
    }

    p, td, input {
        font-size: 16px;
    }
}


@media screen and (min-width: 425px) and (max-width: 768px) {

    h1.titre-page {
        font-size: 1.9em;
    }

    p, td, input {
        font-size: 16px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    h1.titre-page {
        font-size: 2.2em;
    }

    p, td, input {
        font-size: 16px;
    }
}


@media screen and (min-width: 1024px) and (max-width: 1440px) {

    h1.titre-page {
        font-size: 2.5em;
    }

    p, td, input {
        font-size: 18px;
    }

}


@media screen and (min-width: 1440px) {

    h1.titre-page {
        font-size: 2.7em;
    }

    p, td, input {
        font-size: 18px;
    }
}


@media all and (max-width: 500px) {

    form {
        max-width: 320px;
    }

    td {
        text-align: center;
        font-family: 'Arima', cursive;
        display: flex;
        flex-direction: column;
    }
}