@media screen and (max-width: 375px) {

    h1.titre-page {
        font-size: 1.7em;
    }

    h2.sous-titre {
        font-size: 1.1em;
        margin-bottom: 5px;
    }

    h2.project-title-coll {
        font-size: 1.2em;
    }

    .projets ul li, p {
        margin: 10px 0;
        font-family: 'Arima', sans-serif;
        font-size: 13px;
    }

    .pc-tab ul li label {
        padding: 15px 5px;
        font-size: 14px;
    }

    legend {
        font-size: 13px;
    }

    .pc-tab .tab3.divi a,
    .pc-tab .tab6.divi a,
    .pc-tab .tab9.divi a,
    .pc-tab .tab12.divi a,
    .pc-tab .tab15.divi a, 
    .pc-tab .tab18.divi a {
        font-size: 13px;
    }
}


@media screen and (min-width: 375px) and (max-width: 425px) {
    h1.titre-page {
        font-size: 1.7em;
    }

    h2.sous-titre {
        font-size: 1.1em;
        margin-bottom: 5px;
    }

    h2.project-title-coll {
        font-size: 1.2em;
    }

    .projets ul li, p {
        margin: 10px 0;
        font-family: 'Arima', sans-serif;
        font-size: 13px;
    }

    .pc-tab ul li label {
        padding: 15px 5px;
        font-size: 14px;
    }

    legend {
        font-size: 13px;
    }

    .pc-tab .tab3.divi a,
    .pc-tab .tab6.divi a,
    .pc-tab .tab9.divi a,
    .pc-tab .tab12.divi a,
    .pc-tab .tab15.divi a,
    .pc-tab .tab18.divi a {
        font-size: 13px;
    }
}


@media screen and (min-width: 425px) and (max-width: 768px) {
    h1.titre-page {
        font-size: 1.9em;
    }

    h2.sous-titre {
        font-size: 1.2em;
        margin-bottom: 5px;
    }

    h2.project-title-coll {
        font-size: 1.4em;
    }

    .projets ul li, p {
        margin: 10px 0;
        font-family: 'Arima', sans-serif;
        font-size: 14px;
    }

    .pc-tab ul li label {
        padding: 15px 5px;
        font-size: 15px;
    }

    legend {
        font-size: 14px;
    }

    .pc-tab .tab3.divi a,
    .pc-tab .tab6.divi a,
    .pc-tab .tab9.divi a,
    .pc-tab .tab12.divi a,
    .pc-tab .tab15.divi a,
    .pc-tab .tab18.divi a {
        font-size: 15px;
    }
}


@media screen and (min-width: 768px) and (max-width: 1024px) {
    .projets {
        display: flex;
    }

    .projets ul li, p {
        margin: 10px 0;
        font-family: 'Arima', sans-serif;
        font-size: 15px;
    }

    .pc-tab ul li label {
        padding: 15px 15px;
        font-size: 16px;
    }

    legend {
        font-size: 15px;
    }
}


@media screen and (min-width: 1024px) and (max-width: 1440px) {

    .projets {
        display: flex;
    }

    .projets ul li, p {
        margin: 10px 0;
        font-family: 'Arima', sans-serif;
        font-size: 15px;
    }

    .pc-tab ul li label {
        padding: 15px 15px;
        font-size: 17px;
    }

    legend {
        font-size: 15px;
    }

    .pc-tab .tab2 div,
    .pc-tab .tab5 div,
    .pc-tab .tab8 div,
    .pc-tab .tab11 div,
    .pc-tab .tab14 div {
        width: 75%;
        margin: 0 auto;
    }

    .pc-tab .tab3.divi a,
    .pc-tab .tab6.divi a,
    .pc-tab .tab9.divi a,
    .pc-tab .tab12.divi a,
    .pc-tab .tab15.divi a,
    .pc-tab .tab18.divi a {
        font-size: 15px;
    }
}


@media screen and (min-width: 1440px) {

    .projets {
        display: flex;
    }

    .projets ul li, p {
        margin: 10px 0;
        font-family: 'Arima', sans-serif;
        font-size: 15px;
    }

    .pc-tab ul li label {
        padding: 15px 15px;
        font-size: 18px;
    }

    legend {
        font-size: 15px;
    }

    .pc-tab .tab2 div,
    .pc-tab .tab5 div,
    .pc-tab .tab8 div,
    .pc-tab .tab11 div,
    .pc-tab .tab14 div,
    .pc-tab .tab17 div {
        width: 75%;
        margin: 0 auto;
    }

    .pc-tab .tab3.divi a,
    .pc-tab .tab6.divi a,
    .pc-tab .tab9.divi a,
    .pc-tab .tab12.divi a,
    .pc-tab .tab15.divi a,
    .pc-tab .tab18.divi a {
        font-size: 15px;
    }
}