@media screen and (max-width: 375px) {
    
    main {
        padding: 0 10px;
    }
    
    /* NAVBAR */

    header .menu-principal {
        height: 70px;
        position: relative;
        left: 0;
        top: 0;
        z-index: 1;
    }

    header .menu-principal .menu {
        padding-left: 20px;
        transition: 0.3s ease-in;
        position: absolute;
        background-color: #18475c;
        transition: 0.3s ease-in;
        width: 100%;
        min-height: calc(100VH - 70px);
        transform: translate(-100%);
    }

    header .menu-principal .menu.active {
        transition: 0.3s ease-in;
        transform: translate(0%);
    }

    header .menu-principal .logo-navbar {
        height: 100%;
        display: flex;
        margin: auto;
    }

    header .menu-principal .logo-navbar a {
        margin: auto 10px;
    }

    header .menu-principal .logo-navbar .navbar-image {
        height: 50px;
        margin: auto;
        object-fit: contain;
    }

    header i.open, i.close {
        font-size: 100%;
        top: 45%;
        right: 0%;
    }

    header .menu-principal .pages-menu {
        font-size: 1.3em;
    }

    /* FIN NAVBAR */


    /* DARKTHEME */

    .place-colors .colors {
        font-size: 50%;
        right: 5%;
    }

    /* FINDARKTHEME */

}


@media screen and (min-width: 375px) and (max-width: 425px) {

    main {
        padding: 0 15px;
    }

    /* h1.titre-page {
        font-size: 130%;
    }

    h2.sous-titre {
        font-size: 100%;
    }

    h3.titre-lambda {
        font-size: 100%;
    } */

    /* NAVBAR */

    header .menu-principal {
        height: 70px;
        position: relative;
        left: 0;
        top: 0;
        z-index: 1;
    }

    header .menu-principal .menu {
        padding-left: 20px;
        transition: 0.3s ease-in;
        position: absolute;
        background-color: #18475c;
        transition: 0.3s ease-in;
        width: 100%;
        min-height: calc(100vh - 70px);
        transform: translate(-100%);
    }

    header .menu-principal .menu.active {
        transition: 0.3s ease-in;
        transform: translate(0%);
    }

    header .menu-principal .logo-navbar {
        height: 100%;
        display: flex;
        margin: auto;
    }

    header .menu-principal .logo-navbar a {
        margin: auto 10px;
    }

    header .menu-principal .logo-navbar .navbar-image {
        height: 50px;
        margin: auto;
        object-fit: contain;
    }

    header i.open, i.close {
        font-size: 110%;
        top: 45%;
        right: 0%;
    }

    header .menu-principal .pages-menu {
        font-size: 1.3em;
    }

    /* FIN NAVBAR */


    /* DARKTHEME */

    .place-colors .colors {
        font-size: 60%;
        right: 5%;
    }

    /* FINDARKTHEME */
}


@media screen and (min-width: 425px) and (max-width: 768px) {

    main {
        padding: 0 35px;
    }

    /* h1.titre-page {
        font-size: 150%;
    }

    h2.sous-titre {
        font-size: 110%;
    }

    h3.titre-lambda {
        font-size: 110%;
    } */

    /* NAVBAR */

    header .menu-principal {
        height: 80px;
        position: relative;
        left: 0;
        top: 0;
        z-index: 1;
    }

    header .menu-principal .menu {
        padding-left: 20px;
        transition: 0.3s ease-in;
        position: absolute;
        background-color: #18475c;
        transition: 0.3s ease-in;
        width: 100%;
        min-height: calc(100VH - 80px);
        transform: translate(-100%);
    }

    header .menu-principal .menu.active {
        transition: 0.3s ease-in;
        transform: translate(0%);
    }

    header .menu-principal .logo-navbar {
        height: 100%;
        display: flex;
        margin: auto;
    }

    header .menu-principal .logo-navbar a {
        margin: auto 10px;
    }

    header .menu-principal .logo-navbar .navbar-image {
        height: 60px;
        margin: auto;
        object-fit: contain;
    }

    header i.open, i.close {
        font-size: 130%;
        top: 45%;
        right: 0%;
    }

    header .menu-principal .pages-menu {
        font-size: 1.4em;
    }

    /* FIN NAVBAR */


    /* DARKTHEME */

    .place-colors .colors {
        font-size: 70%;
        right: 5%;
    }

    /* FINDARKTHEME */

}


@media screen and (min-width: 769px) and (max-width: 1024px) {

    main {
        padding: 0 50px;
    }

    /* h1.titre-page {
        font-size: 200%;
    }

    h2.sous-titre {
        font-size: 130%;
    }

    h3.titre-lambda {
        font-size: 130%;
    } */

    /* NAVBAR */

    header .menu-principal {
        height: 80px;
        display: flex;
        left: 0;
        top: 0;
    }

    header .menu-principal .menu {
        display: flex;
        margin: auto 15px auto auto;
    }

    header .menu-principal .menu li {
        padding: 10px;
    }

    header .menu-principal .logo-navbar {
        height: 100%;
        display: flex;
        margin: auto 15px auto 15px;
    }

    header .menu-principal .logo-navbar a {
        margin: auto 10px;
    }

    header .menu-principal .logo-navbar .navbar-image {
        height: 60px;
        margin: auto;
        object-fit: contain;
    }

    header i.open, header i.close {
        display: none;
    }

    header .menu-principal .pages-menu {
        padding: 5px 10px;
        font-size: 1.4em;
    }

    /* FIN NAVBAR */


    /* DARKTHEME */

    .place-colors .colors {
        font-size: 80%;
        right: 5%;
    }

    /* FINDARKTHEME */
}


@media screen and (min-width: 1024px) and (max-width: 1440px) {

    main {
        padding: 0 100px;
    }

    /* h1.titre-page {
        font-size: 250%;
    }

    h2.sous-titre {
        font-size: 160%;
    }

    h3.titre-lambda {
        font-size: 160%;
    } */

    /* NAVBAR */

    header .menu-principal {
        height: 90px;
        display: flex;
        left: 0;
        top: 0;
    }

    header .menu-principal .menu {
        display: flex;
        margin: auto 15px auto auto;
    }

    header .menu-principal .menu li {
        padding: 10px;
    }

    header .menu-principal .logo-navbar {
        height: 100%;
        display: flex;
        margin: auto 15px auto 15px;
    }

    header .menu-principal .logo-navbar a {
        margin: auto 10px;
    }

    header .menu-principal .logo-navbar .navbar-image {
        height: 70px;
        margin: auto;
        object-fit: contain;
    }

    header i.open, header i.close {
        display: none;
    }

    header .menu-principal .pages-menu {
        padding: 10px 15px;
        font-size: 1.3em;
    }

    /* FIN NAVBAR */


    /* DARKTHEME */

    .place-colors .colors {
        font-size: 90%;
        right: 3%;
    }

    /* FINDARKTHEME */
}


@media screen and (min-width: 1440px) {

    main {
        /* max-width: 1800px;
        margin: 0 auto; */
        padding: 0 150px;
    }

    /* h1.titre-page {
        font-size: 300%;
    }

    h2.sous-titre {
        font-size: 200%;
    }

    h3.titre-lambda {
        font-size: 200%;
    } */

    /* NAVBAR */

    header .menu-principal {
        height: 100px;
        display: flex;
        left: 0;
        top: 0;
    }

    header .menu-principal .menu {
        display: flex;
        margin: auto 15px auto auto;
    }

    header .menu-principal .menu li {
        padding: 10px;
    }

    header .menu-principal .logo-navbar {
        height: 100%;
        display: flex;
        margin: auto 15px auto 15px;
    }

    header .menu-principal .logo-navbar a {
        margin: auto 10px;
    }

    header .menu-principal .logo-navbar .navbar-image {
        height: 80px;
        margin: auto;
        object-fit: contain;
    }

    header i.open, header i.close {
        display: none;
    }

    header .menu-principal .pages-menu {
        padding: 15px 20px;
        font-size: 1.5em;
    }

    /* FIN NAVBAR */


    /* DARKTHEME */

    .place-colors .colors {
        font-size: 100%;
        right: 3%;
    }

    /* FINDARKTHEME */
}