h1 {
    text-align: center;
    font-family: 'Grenze Gotisch', sans-serif;
}

p#Error {
    font-weight: 600;
    font-size: 1.2em;
    text-align: center;
    color: red;
}

form {
    width: max-content;
    margin: 40px auto;
}

textarea {
    border-radius: 10px;
    border: 1px solid #18475c;
    height: 100px;
    width: 100%;
    resize: vertical;
    padding: 5px;
}

td {
    padding: 10px;
}

input[type=submit], input[type=reset] {
    background-color: #18475c;
    color: aliceblue;
    font-family: 'Grenze Gotisch', cursive;
    font-size: 1.2em;
}

input#mess {
    word-break: break-word;
    height: 180px;
}

input {
    width: 100%;
    text-align: center;
    font-family: 'Arima', sans-serif;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #18475c;
}