h1, h2 {
    font-family: 'Butler', cursive;
}

p, li, a {
    font-family: 'Arima', cursive;
}

.main-logo {
    margin: 30px 0;
}

.main-list {
    max-width: 1200px;
    margin: 0 auto;
}

.main-list section {
    padding: 10px;
    margin: 10px 0;
}

.main-list section h2 {
    cursor: pointer;
}

.main-list section .list-show{
    display: none;
}

.list-title.active ~ .list-show {
    display: block;
}

.list-show {
    margin-top: 10px;
    margin-left: 20px;
}

.list-show ul{
    margin-left: 20px;
    list-style-type: "-- ";
}

.list-title::after {
    content: "☟";
    margin-left: 10px;
    color: #18475c;
}

.list-title.active::after {
    content: "☝︎";
}

.tech-title {
    font-family: 'Butler', cursive;
    font-weight: 800;
    font-size: 110%;
}

.tech-title:not(:first-child) {
    margin-top: 15px;
}