h1, h2 {
    font-family: 'Grenze Gotisch', cursive;
}

.main-list section {
    padding: 10px;
    margin: 10px 0;
}

.main-list section h2 {
    cursor: pointer;
    width: max-content;
}

.main-list section .list-show{
    display: none;
}

.list-title.active ~ .list-show {
    display: block;
}