h2 {
    margin-top: 20px;
}

.presentation-ecole {
    max-width: 1000px;
    margin: 0 auto;
}

.presentation-ecole div{
    display: flex;
    margin: 50px auto 50px auto;
}

.presentation-ecole div p {
    margin: auto;
}

.presentation-ecole img {
    object-fit: contain;
}


/* carte + adresse + mail */

.coordonnees {
    display: flex;
    width: max-content;
    margin: 0 auto;
}

.coordonnees div {
    display: flex;
    flex-direction: column;
    font-weight: 600;
    margin: auto;
}

.coordonnees div a {
    text-decoration: none;
    color: #599ab7;
    font-family: 'Arima', cursive;
}

.first-coord {
    padding: 30px 20px 30px 0;
    text-align: right;
}

.second-coord {
    text-align: left;
}

.carte-ecole {
    width: max-content;
    margin: 0 auto;
}

/* fin carte + adresse + mail */


/* Intégration au cfa, liste compétences */

.integrer-cfa {
    margin: 0 auto;
}

.integrer-cfa div {
    display: flex;
    margin: 50px 0;
}

.integrer-cfa img {
    object-fit: contain;
}

.integrer-cfa div ul{
    display: flex;
    margin: auto 0;
    flex-direction: column;
    font-family: 'Arima', cursive;
    list-style-type: none;
}

.integrer-cfa div ul li{
    max-width: 500px;
}

.integrer-cfa div ul li::before{
    content: "\2014>  ";
}

/* Fin Intégration au cfa, liste compétences */


/* vidéo de présentation */

.video-presentation {
    max-width: 1000px;
    min-width: 300px;
    margin: 0 auto;
}

.video-presentation div {
    display: flex;
    justify-content: center;
    width: 100%;
}

.video-presentation h2 {
    margin: 50px 0;
}

.video-presentation iframe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    width: 90%;
    min-height: 300px;
}
