/* font-family: 'Grenze Gotisch', cursive;  TITRE*/
/* font-family: 'Arima', cursive;  CORPS*/

h2.sous-titre {
    margin: 30px auto;
}

.projets {
    background-color: aliceblue;
    margin: 25px auto;
    box-shadow: 2px 2px 10px 12px rgba(150, 150, 150, 0.131);
    padding: 10px;
}

body.dark .projets {
    background-color: #00000029;
    color: aliceblue;
    box-shadow: 2px 2px 10px 12px rgba(139, 126, 126, 0.131);
}

.projets div {
    width: 100%;
    height: 100%;
    /* padding: 10px 20px; */
    margin: 0 0 auto auto;
}

.projets ul {
    list-style-type: none;
}

.projets ul ul {
    padding-left: 10px;
}

.projets ul li, p {
    margin: 10px 0;
    font-family: 'Arima', cursive;
}

.pc-tab>input,
.pc-tab section>div {
    display: none;
}

.pc-tab img {
    width: 100%;
}

#tab1:checked~section .tab1,
#tab2:checked~section .tab2,
#tab4:checked~section .tab4,
#tab5:checked~section .tab5,
#tab7:checked~section .tab7,
#tab8:checked~section .tab8,
#tab10:checked~section .tab10,
#tab11:checked~section .tab11,
#tab13:checked~section .tab13,
#tab14:checked~section .tab14,
#tab16:checked~section .tab16,
#tab17:checked~section .tab17 {
    display: block;
}

#tab3:checked~section .tab3,
#tab6:checked~section .tab6,
#tab9:checked~section .tab9,
#tab12:checked~section .tab12,
#tab15:checked~section .tab15, 
#tab18:checked~section .tab18 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.pc-tab {
    width: 100%;
    margin: 0 auto;
    background-color: #18475c;
    border-radius: 5px;
}

.pc-tab ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.pc-tab ul li label {
    font-family: 'Grenze Gotisch', cursive;
    float: left;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    border-bottom: 0;
    background: #18475c;
    color: aliceblue;
}

.pc-tab ul li label::after {
    content: "⇳";
    font-size: larger;
    margin-left: 5px;
    margin-right: 5px;
}

.pc-tab ul li label:hover {
    background: rgb(206, 224, 240);
}

.pc-tab ul li label:active {
    background: #ffffff;
}

.pc-tab ul li:not(:last-child) label {
    border-right-width: 0;
}

.pc-tab section {
    font-family: "Arima", cursive;
    clear: both;
}

.pc-tab section .divi {
    padding: 20px;
    width: 100%;
    border: 1px solid #ddd;
    background-color: #f0f7fd;
}

body.dark .pc-tab section .divi {
    background-color: #272727cf;
    color: aliceblue;;
}

.pc-tab section .divi h2 {
    margin: 0;
    font-family: 'Grenze Gotisch', cursive;
    letter-spacing: 1px;
    color: #34495e;
}

#tab1:checked~nav .tab1 label,
#tab2:checked~nav .tab2 label,
#tab3:checked~nav .tab3 label,
#tab4:checked~nav .tab4 label,
#tab5:checked~nav .tab5 label,
#tab6:checked~nav .tab6 label,
#tab7:checked~nav .tab7 label,
#tab8:checked~nav .tab8 label,
#tab9:checked~nav .tab9 label,
#tab10:checked~nav .tab10 label,
#tab11:checked~nav .tab11 label,
#tab12:checked~nav .tab12 label,
#tab13:checked~nav .tab13 label,
#tab14:checked~nav .tab14 label,
#tab15:checked~nav .tab15 label,
#tab16:checked~nav .tab16 label,
#tab17:checked~nav .tab17 label,
#tab18:checked~nav .tab18 label {
    background: aliceblue;
    color: #18475c;
    position: relative;
}

legend:first-of-type {
    margin-bottom: 30px;
}

legend {
    padding: 2px 5px;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-radius: 5px;
    margin-bottom: 30px;

}

.pc-tab .tab3.divi a,
.pc-tab .tab6.divi a,
.pc-tab .tab9.divi a,
.pc-tab .tab12.divi a,
.pc-tab .tab15.divi a {
    margin: 10px 20px;
    text-decoration: none;
    background-color: #34495e;
    padding: 10px;
    border-radius: 10px;
    color: aliceblue;
}

.project-title-coll {
    margin-top: 30px;
    margin-bottom: 30px;
    cursor: pointer;
    font-family: 'Grenze Gotisch', cursive;
}

.project-title-coll::after {
    content: "⬇︎";
    margin: 0 15px;
    font-size: large;
}

.project-title-coll.cont::after {
    content: "⬆︎";
} 

.project-list {
    display: none;
}

.project-title-coll.cont + .project-list {
    display: block;
}