name: Create Branch from Issue
on:
  issues:
    types: [opened, assigned]

permissions:
  contents: write
  issues: write
  pull-requests: write

jobs:
  call-create-branch:
    uses: Skuskusku13/devops/.github/workflows/reusable-create-branch.yml@main
    permissions:
      contents: write
      issues: write