name: Create Branch from Issue
on:
  issues:
    types: [opened]

jobs:
  call-create-branch:
    uses: Skuskusku13/devops/.github/workflows/reusable-create-branch.yml@main
    permissions:
      contents: write
      issues: write